body{
    background-color: #78e08f;
    margin: 0;
}

.container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 232px;
    /* margin-left: -116px; */
    transform: translate(-50%,-50%);
    font-size: 0;
}

.ball{
    border: 8px solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.face{
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 30px;
    border-top-right-radius: 15px;
}

.face::before{
    content: "";
    width: 18px;
    height: 8px;
    background-color: #badc58;
    position: absolute;
    right: -8px;
    top: 20px;
    border-radius: 50%;
}
.face::after{
    content: "";
    width: 18px;
    height: 8px;
    background-color: #badc58;
    position: absolute;
    left: -5px;
    top: 20px;
    border-radius: 50%;
}

.eye{
    width: 15px;
    height: 14px;
    border-radius: 50%;
    border-bottom: 5px solid black;
    position: absolute;
}

.eye-l{
    left: 10px;
}

.eye-r{
    right: 5px;
}

.mouth{
    width: 30px;
    height: 14px;
    border-radius: 50%;
    border-bottom: 5px solid #000;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(3px);
}

.face-r{
    left: 0;
    top: 37px;
}
.face-r::before{
    width: 10px;
    height: 10px;
    right: -4px;
}
.face-r::after{
    width: 10px;
    height: 10px;
    left: 5px;
}

.eye-r-p{
    border-top: 5px solid #000;
    border-bottom: none;
}

.kiss-m{
    position: absolute;
    left: 20px;
    top: 22px;
    opacity: 0;
    animation: kiss-m 4s ease infinite;
}

@keyframes kiss-m{
    0%{ opacity: 0;}
    55%{ opacity: 0;}
    55.1%{ opacity: 1;}
    66%{ opacity: 1;}
    66.1%{ opacity: 0;}
    100%{ opacity: 0;}
}

.kiss{
    width: 13px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border-left: 5px solid #000;
}

#l-ball{
    animation: close 4s ease infinite;
    z-index: 50;
}

@keyframes close{
    0%{ transform: translate(0);}
    20%{ transform: translate(20px);}
    35%{ transform: translate(20px);}
    55%{ transform: translate(0);}
    100%{ transform: translate(0);}
}

.face-l{
    animation: face 4s ease infinite;
}

@keyframes face{
    0%{ transform: translate(0) rotate(0);}
    10%{ transform: translate(0) rotate(0);}
    20%{ transform: translate(5px) rotate(-2deg);}
    28%{ transform: translate(0) rotate(0);}
    35%{ transform: translate(5px) rotate(-2deg);}
    50%{ transform: translate(0) rotate(0);}
    100%{ transform: translate(0) rotate(0);}
}

#r-ball{
    animation: kiss 4s ease infinite;
}

@keyframes kiss{
    40%{ transform: translate(0) ;}
    50%{ transform: translate(30px) rotate(20deg) ;}
    60%{ transform: translate(-33px) ;}
    67%{ transform: translate(-33px) ;}
    77%{ transform: translate(0) ;}
}

.mouth-r{
    animation: mouth-m 4s ease infinite;
}

@keyframes mouth-m{
    0%{ opacity: 1;}
    54.9%{ opacity: 1;}
    55%{ opacity: 0;}
    66%{ opacity: 0;}
    66.1%{ opacity: 1;}
    100%{ opacity: 1;}
}