* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.sleft {
  float: left;
  border-right: 1px solid #bddaf5;
  width: 182px;
  margin: 6px 0 5px 12px;
}
.sright {
  float: left;
  margin: 6px 0 5px 12px;
}
.finance-wrapper {
  height: 102px;
  width: 388px;
  border: 1px solid #cae0fc;
  border-top: 3px solid #9ec9ee;
  overflow: hidden;
}
.st-item .detail span {
  color: #df4d42;
}
.icon-num-2::before {
  content: "\32";
}
