body {
    background-color: #f6f6f6;
}

.comm-left {
    background-color: #FFF;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}

.comm-right {
    background-color: #FFF;
    margin-left: .5rem;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}

.comm-main {
    margin-top: .5rem;
}